SECRET_KEY=tu_clave_secreta_muy_larga_aqui
FLASK_ENV=development
FLASK_DEBUG=True
PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=blackjack_user
DB_PASSWORD=tu_password_aqui
DB_NAME=blackjack_db
SOCKETIO_ASYNC_MODE=eventlet
MIN_PLAYERS=3
MAX_PLAYERS=5
DECKS_COUNT=1